:host {
  display: flex;
  bottom: 8px;
  left: 0;
  width: 100%;
  z-index: 10000;
  align-items: center;
  flex-direction: column;
}

:host(.absolute) {
  position: absolute;
}

:host(.fixed) {
  position: fixed;
}

.c-notification {
  margin-left: auto;
  display: flex;
  align-items: center;
  margin: 8px;
  width: 50%;
  min-width: 288px;
  height: auto;
  border: 2px var(--c-notification-color) solid;
  border-left-width: 12px;
  border-radius: 6px;
  position: relative;
  z-index: 1000000;
  background: #fff;
  padding: 24px;
  transition: all 0.4s ease;
  box-shadow: rgb(0 0 0 / 15%) 0px 10px 20px, rgb(0 0 0 / 20%) 0px 5px 5px;
  opacity: 0;
  transform: translateY(20px);

  &.warning {
    --c-notification-color: var(--csc-warning);
  }

  &.error {
    --c-notification-color: var(--csc-error);
  }

  &.info {
    --c-notification-color: var(--csc-link);
  }

  &.success {
    --c-notification-color: var(--csc-success);
  }

  &--show {
    opacity: 1;
    transform: translateY(0);
  }

  svg {
    height: 24px;
    width: 24px;

    path {
      fill: var(--c-notification-color);
    }
  }

  p {
    flex: 1;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 14px;
    font-size: 16px;
    margin-top: 1px;
    margin-left: 8px;
  }
}

.closewrapper {
  margin-right: -12px;
  display: flex;
  width: 28px;
  height: 28px;
  transition: all 0.3s ease;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.closewrapper:hover {
  background: #eee;
}

.hidden {
  display: none;
}
