<app-example title="Basic usage" [raw]="raw.default" [script]="script">
  <c-radio-group
    cControl
    label="Example radio buttons"
    [items]="items"
    [(ngModel)]="selectedItem"
  ></c-radio-group>

  <p style="margin-top: 16px">Selected item: {{ selectedItem.label }}</p>
</app-example>

<app-example title="Disabled" [raw]="raw.disabled" [script]="script">
  <c-radio-group
    cControl
    label="Disabled radio buttons"
    [items]="items"
    [(ngModel)]="selectedItem"
    disabled
  ></c-radio-group>

  <p style="margin-top: 16px">Selected item: {{ selectedItem.label }}</p>
</app-example>
