@import "../../global/app.css"; 

:host {
  display: block;
}

label {
  margin-bottom: 4px;
}

.c-autocomplete-wrapper {
  /* background: #EEF2F8; */
  align-items: stretch;
  min-height: 44px;
  display: flex;
  flex: 1 1 auto;
  border: 2px transparent solid;
  cursor: pointer;
}
/* 
.c-autocomplete-wrapper-active {
  background: #D0DCED;
} */

/* .c-autocomplete-wrapper:focus-within {
  border: 2px #006778 solid;
} */

.c-autocomplete-current {
  margin-top: 2px;
  outline: none;
  font-size: 16px;
  display: inline-block;
  background-color: transparent;
  border-style: none;
  flex: 1 1 auto;
  line-height: 20px;
  padding: 6px 0 6px 18px;
  user-select: none;
}

.c-autocomplete-icon {
  line-height: 20px;
  padding: 8px 24px;
  margin-top: 3px;
  transition: all 0.25s;
}

.rotated {
  transform: rotate(180deg);
}

.c-autocomplete-dense {
  min-height: 34px;
}

.c-autocomplete-dense input {
  padding: 0;
}

.c-autocomplete-dense .c-autocomplete-current {
  margin-top: 0;
}

.c-autocomplete-dense .c-autocomplete-icon {
  padding: 4px 24px;
}

span.dense-label {
  font-size: 12px;
}

label span.required {
  color: #E71D32;
}

.c-menu-overlay {
  background: rgba(0,0,0,0.2);
  position: fixed;
  width: 100%;
  height: 100vw;
}

.c-menu-parent {
  position: absolute;
  width: 100%;
  margin-top: 44px;
  z-index: 10;
}

.c-menu {
  position: absolute;
  background-color: #ffffff;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding-left: 0;
  margin: 0;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}

.c-autocomplete-current input {
  outline: none;
  font-size: 16px;
  font-family: inherit;
  position: relative;
  z-index: 1;
  background-color: transparent;
  border-style: none;
  padding-left: 8px;
  flex: 1 1 auto;
  line-height: 28px;
  max-width: 100%;
  min-width: 0;
  width: 100%;
}

.c-autocomplete-dense .c-autocomplete-current input {
  line-height: 16px;
}

.c-autocomplete-dense .c-autocomplete-current {
  line-height: 16px;
}

.c-menu li {
  display:block;
  padding: 14px;
  transition: background-color 0.5s;
  font-size: 14px;
}
.c-menu li.dense {
  padding: 10px 14px;
}
.c-menu li:HOVER {
  background-color: #EEF2F8;
}

.c-menu li.active {
  background-color: #006778;
  color: #fff;
}

.border-wrapper {
  position:absolute;
  width:100%;
  height:100%;
  display:flex;
  z-index: 0;
}

.border-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px #aaa solid;
  border-right: none;
  width: 12px;
}

.border-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px #aaa solid;
  border-left: none;
  width: 100%;
}

.top-span {
  position:absolute;
  margin-top: 10px;
  margin-left: 5px;
  font-size: 16px;
  color: rgba(0,0,0,0.75);
}

.outer-wrapper:focus-within label.top-span {
  color: var(--current-color);
}

.border-label label.top-span {
  transition: margin 0.1s ease, transform 0.1s ease;
}

.border-label.value-set .top-span {
  margin-top: -12px;
  transform: scale(0.75);
  transform-origin: left;
  max-width: 125%;
  margin-left: 0 !important;
}

.outer-wrapper:focus-within .border-label {
  border-top: 2px transparent solid !important;
  padding-top: 0px;
  padding-bottom: 0px;
}

.border-label {
  border-top: 1px #aaa solid;
  border-bottom: 1px #aaa solid;
}

.border-label.value-set {
  border-top: 1px transparent solid !important;
  padding-top: 1px;
  padding-bottom: 1px;
}

.outer-wrapper:focus-within label {
  padding-left:3px;
  transform: scale(0.75);
  max-width: 125%;
  transform-origin: left;
  padding-right:3px;
}

.outer-wrapper:focus-within label.top-span {
  margin-top: -12px;
  padding-left: 2px !important;
  padding-top: 0px !important;
  margin-left: 0 !important;
}

.border-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px #aaa solid;
  border-left: none;
  width: 100%;
}

.outer-wrapper {
  width: 100%;
  position: relative;
  display:flex;
  outline: none;
}

.outer-wrapper.disabled input, .outer-wrapper.disabled label {
  color: #93979D;
}

.outer-wrapper:focus-within div {
  border-color: var(--current-color);
  border-width: 2px;
  /* margin-top:-1px; */
}

.outer-wrapper label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.outer-wrapper.required div, .outer-wrapper.required:focus-within div {
  border-color: #E71D32;
  border-width: 2px !important;
  /* margin-top: -1px; */
}

.outer-wrapper.required label, .outer-wrapper.required:focus-within label {
  color: #E71D32;
}

.validation-message {
  display: flex;
  height:0;
  align-items: center;
  font-size: 12px;
  margin-top: 1px;
  transform: scale(0);
  transform-origin: top left;
  transition: transform 0.2s ease, margin 0.2s ease;
}

.validation-message svg {
  margin-right: 4px;
}

.validation-message.show {
  height: unset;
  transform: scale(1);
  margin-top: 7px;
}

label.hidden {
  opacity: 0;
  white-space: nowrap;
  padding-left:3px;
  padding-right:3px;
  max-width: calc(100% / .75);
  font-size: .75rem;
}

.border-label.value-set label {
  padding-left:3px;
  padding-right:3px;
}

.full-width {
  width: 100%;
  position: relative;
  z-index: 2;
  cursor: pointer;
  outline: none;
}

.select-wrapper {
  width: 100%;
  position: relative;
  z-index: 1;
  height: 100%;
  outline: none;
}