<app-example title="Basic usage" subtitle="Using index based values by default">
  <c-button-group value="1">
    <c-button>One</c-button>
    <c-button>Two</c-button>
    <c-button>Three</c-button>
  </c-button-group>
</app-example>

<app-example title="Basic usage 2" subtitle="Using custom values">
  <c-button-group value="three">
    <c-button value="one">One</c-button>
    <c-button value="two">Two</c-button>
    <c-button value="three">Three</c-button>
  </c-button-group>
</app-example>

<app-example title="Mandatory selection" subtitle="Selection can not be cleared">
  <c-button-group mandatory>
    <c-button>One</c-button>
    <c-button>Two</c-button>
    <c-button>Three</c-button>
  </c-button-group>
</app-example>

<app-example title="Disabled">
  <c-button-group disabled>
    <c-button>One</c-button>
    <c-button>Two</c-button>
    <c-button>Three</c-button>
  </c-button-group>
</app-example>

<app-example title="Small variant">
  <c-button-group size="small">
    <c-button>One</c-button>
    <c-button>Two</c-button>
    <c-button>Three</c-button>
  </c-button-group>
</app-example>

<app-example title="Large variant">
  <c-button-group size="large">
    <c-button>One</c-button>
    <c-button>Two</c-button>
    <c-button>Three</c-button>
  </c-button-group>
</app-example>
