:host {
  display: inline-flex;
}

::slotted([slot='icon']) {
  margin-right: 8px;
}

button {
  --c-radius: 4px;

  &.no-radius {
    --c-radius: 0;
  }

  display: flex;
  border: none;
  padding: 0;
  background: transparent;
  border-radius: var(--c-radius);
  position: relative;
  overflow: hidden;
  margin: 0;

  &:focus {
    outline: 2px var(--csc-primary) solid;
    outline-offset: 2px;
  }

  @supports selector(:focus-visible) {
    &:focus {
      outline: none;
    }
  }

  &:focus-visible {
    outline: 2px var(--csc-primary) solid;
    outline-offset: 2px;
  }

  &.fit {
    flex-grow: 1 !important;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .full-width-mobile {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 !important;

    .c-button-padding {
      padding: 24px 38px;
    }
  }

  button.full-width {
    flex-grow: 1 !important;
  }
}

.c-button {
  --c-height: 44px;
  --c-padding: 0 16px;
  --c-font-size: 16px;
  --c-background-color: var(--csc-primary);
  --c-color: #fff;
  --c-hover-background: var(--csc-primary-hover);

  $this: &;

  background-color: var(--c-background-color);
  border-radius: var(--c-radius);
  position: relative;
  cursor: pointer;
  box-shadow: none;
  outline: none;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transition: all 0.3s;
  color: var(--c-color);
  margin: 0;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-size: var(--c-font-size);
  font-weight: 700;
  line-height: 18px;
  user-select: none;
  min-width: 88px;

  * {
    pointer-events: none;
  }

  svg {
    fill: var(--c-color);

    &.button-icon {
      margin-right: 16px;
      font-size: 10px;
      margin-left: -8px;
      margin-bottom: -2px;
    }
  }

  &:hover {
    background-color: var(--c-hover-background);
  }

  &--small {
    --c-height: 28px;
    --c-padding: 0 12px;
    --c-font-size: 14px;
  }

  &--large {
    --c-height: 52px;
    --c-padding: 0 24px;
    --c-font-size: 18px;
  }

  &--ghost {
    --c-background-color: var(--csc-primary-ghost);
    --c-color: var(--csc-primary);
    --c-hover-background: var(--csc-primary-ghost-hover);

    &#{$this} {
      &--disabled {
        --c-background-color: var(--csc-lightest-grey);
        --c-hover-background: var(--csc-lightest-grey);
      }
    }
  }

  &--text {
    --c-background-color: transparent;
    --c-color: var(--csc-primary);
    --c-hover-background: var(--csc-primary-text-hover);

    &#{$this} {
      &--disabled {
        --c-background-color: transparent;
        --c-hover-background: transparent;
      }
    }
  }

  &--outlined {
    --c-background-color: transparent;
    --c-color: var(--csc-primary);
    --c-hover-background: var(--csc-primary-text-hover);

    box-shadow: inset 0 0 0 2px var(--c-color);

    &#{$this} {
      &--disabled {
        --c-background-color: transparent;
        --c-hover-background: transparent;
      }
    }
  }

  &--disabled {
    --c-color: var(--csc-mid-grey);
    --c-background-color: var(--csc-light-grey);
    --c-hover-background: var(--csc-light-grey);

    cursor: default !important;
    pointer-events: none;

    &.outlined {
      --c-background-color: transparent;
      --c-hover-background: transparent;
      --c-color: var(--csc-mid-grey);
    }

    &.grouped {
      box-shadow: none !important;

      &:not(.outlined) {
        color: var(--csc-dark-grey) !important;
        box-shadow: none;
      }
    }
  }

  &--no-radius {
    --c-radius: 0;
  }

  &--fitted {
    width: 100%;
  }

  &.grouped {
    border-radius: 0;
    white-space: nowrap;
    border: none;
    box-shadow: none;
    flex-grow: 1;
  }

  &--description {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }

  &__content {
    display: flex;
    height: var(--c-height);
    align-items: center;
    justify-content: center;
    padding: var(--c-padding);
  }

  &__description {
    font-weight: 400;
    font-size: 12px;
    padding: 0 12px 12px;
  }
}

.spinner__circle {
  animation: 2s ease-in-out infinite both circle-animation;
  display: block;
  fill: transparent;
  stroke: var(--c-color);
  stroke-linecap: round;
  stroke-dasharray: 283;
  stroke-dashoffset: 280;
  stroke-width: 10px;
  transform-origin: 50% 50%;
}

.fit {
  width: 100%;
}

.hide-text {
  color: transparent !important;

  svg {
    fill: transparent !important;
  }

  .outlined.c-button svg {
    fill: transparent !important;
  }
}

.spinner_wrapper {
  width: 100%;
  position: absolute;
  height: var(--c-height);
  display: grid;
  place-content: center;

  &.dense_spinner {
    padding-top: 7px;

    .spinner {
      max-width: 24px;
    }
  }
}

.spinner {
  animation: 3s linear infinite svg-animation;
  max-width: 30px;
  position: relative;
  height: calc(var(--c-height) - 12px);
}

@keyframes svg-animation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes circle-animation {
  0%,
  25% {
    stroke-dashoffset: 280;
    transform: rotate(0);
  }

  50%,
  75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: 280;
    transform: rotate(360deg);
  }
}
