@import '~swiper/swiper.scss';

.c-swiper {
  &__navigation {
    display: grid;
    gap: 8px;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    margin-top: 12px;
  }

  .swiper-wrapper {
    width: 1px !important;
    display: grid !important;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
  }

  .swiper-pagination {
    position: relative;
    bottom: auto;
    left: auto;
    width: auto;
    text-align: right;
  }

  .swiper-container {
    overflow: hidden;
  }

  .c-icon-button {
    &--next,
    &--prev {
      z-index: 1;
      position: relative;
    }
  }
}
