:host(.desktop) {
  flex-grow: 1;
  display: flex;
  flex-shrink: 2;
  flex-basis: 260px;
  max-width: 320px;
}

.c-sidenavigation {
  display: flex;
  flex-flow: column wrap;
  background: #006778;
  width: 100%;
  z-index: 8;
  position: relative;
  padding: 24px 0px 24px 24px;
  transition: transform 0.3s ease;
  height: 100%
}
.c-sidenavigation > div {
  width: 100%;
  /* position: fixed; */
  display: flex;
  height: 100%;
  flex-flow: column wrap;
}

.vertical-spacer {
  flex: 1;
}

/* .c-sidenavigation.hideMenu {
  transform: translateX(-100%);
} */

.mobile.c-sidenavigation.hideMenu {
  transform: translateX(100%);
}
.mobile.c-sidenavigation {
  max-width: 260px;
  transform: translateX(0%);
  position: fixed;
  right:0;
  /* height: 100%; */
}
.mobile.c-sidenavigation {
  /* height: calc(100% - 0px); */
  z-index: 999;
  height: calc(100% - 100px);
}

.c-overlay {
  background: rgba(0,0,0,0.5);
  position: fixed;
  z-index: 998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@keyframes fadeIn {
  0% {
    background: rgba(0,0,0,0);
  }
  100% {
    background: rgba(0,0,0,0.5);
  }
}

.c-fadeIn {
  z-index: 997;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}