:host {
  display: flex;
}

button {
  display: flex;
  border: none;
  padding: 0;
  background: transparent;
  border-radius: 2px;
  position: relative;
  overflow: hidden;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px var(--csc-primary) solid;
    outline-offset: 2px;
  }

  &.fit {
    flex-grow: 1 !important;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .full-width-mobile {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 !important;

    .csc-button-padding {
      padding: 24px 38px;
    }
  }

  button.full-width {
    flex-grow: 1 !important;
  }
}

.csc-button {
  --c-radius: 4px;
  --c-height: 44px;
  --c-padding: 0 16px;
  --c-font-size: 16px;
  --c-background-color: var(--current-color);
  --c-color: #fff;
  --c-hover-background: var(--csc-primary-hover);

  background-color: var(--c-background-color);
  position: relative;
  cursor: pointer;
  box-shadow: none;
  outline: none;
  transition: all 0.3s;
  color: var(--c-color);
  margin: 0;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-size: var(--c-font-size);
  font-weight: 700;
  line-height: 18px;
  user-select: none;

  * {
    pointer-events: none;
  }

  svg {
    fill: var(--c-color);

    &.button-icon {
      margin-right: 16px;
      font-size: 10px;
      margin-left: -8px;
      margin-bottom: -2px;
    }
  }

  &--small {
    --c-height: 28px;
    --c-padding: 0 12px;
    --c-font-size: 14px;
  }

  &--large {
    --c-height: 52px;
    --c-padding: 0 24px;
    --c-font-size: 18px;
  }

  &.border-radius {
    border-radius: var(--c-radius);
  }

  &:hover {
    background-color: var(--c-hover-background);
  }

  &.outlined {
    --c-color: var(--csc-primary);
    box-shadow: inset 0 0 0 2px var(--c-color);
    background-color: transparent !important;
    transition: background 0.5s;

    &:hover {
      --c-hover-background: var(--csc-lightest-grey);
    }

    .spinner__circle {
      stroke: var(--c-color) !important;
    }

    // svg {
    //   fill: var(--current-color);
    // }

    &.csc-button--disabled svg {
      fill: #8c8c8c !important;
    }
  }

  &.grouped {
    border-radius: 0;
    white-space: nowrap;
    border: solid 1px var(--current-color);
    box-shadow: none;
    flex-grow: 1;
  }

  &--disabled {
    --c-color: var(--csc-mid-grey);
    --c-background-color: var(--csc-light-grey);
    --c-hover-background: var(--csc-light-grey);

    cursor: default !important;

    &.outlined {
      --c-background-color: transparent;
      --c-hover-background: transparent;
      --c-color: var(--csc-mid-grey);
    }

    &.grouped {
      box-shadow: none !important;
      border: solid 1px var(--csc-light-grey);

      &:not(.outlined) {
        background: var(--csc-light-grey) !important;
        color: var(--csc-dark-grey) !important;
        box-shadow: none;
      }
    }
  }
}

.spinner__circle {
  animation: 3s ease-in-out infinite both circle-animation;
  display: block;
  fill: transparent;
  stroke: #fff;
  stroke-linecap: round;
  stroke-dasharray: 283;
  stroke-dashoffset: 280;
  stroke-width: 10px;
  transform-origin: 50% 50%;
}

.csc-button-padding {
  display: flex;
  height: var(--c-height);
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: var(--c-padding);
}

.fit {
  width: 100%;
}

.hide-text {
  color: transparent !important;

  svg {
    fill: transparent !important;
  }

  .outlined.csc-button svg {
    fill: transparent !important;
  }
}

.spinner_wrapper {
  width: 100%;
  position: absolute;
  height: var(--c-height);
  display: grid;
  place-content: center;

  &.dense_spinner {
    padding-top: 7px;

    .spinner {
      max-width: 24px;
    }
  }
}

.spinner {
  animation: 2s linear infinite svg-animation;
  max-width: 30px;
  position: relative;
  height: calc(var(--c-height) - 12px);
}

@keyframes svg-animation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes circle-animation {
  0%,
  25% {
    stroke-dashoffset: 280;
    transform: rotate(0);
  }

  50%,
  75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }

  100% {
    stroke-dashoffset: 280;
    transform: rotate(360deg);
  }
}
