@import "../../global/app.css"; 

:host {
  display: inline-block;
}


@media (max-width: 767px) {
  :host(.full-width) {
    flex-grow: 1 !important;
  }
}

:host(.fit) {
  flex-grow: 1 !important;
  width: 100%;
}

.csc-button svg.button-icon {
  margin-right: 16px;
  font-size: 10px;
  margin-left: -8px;
  margin-bottom: -2px;
}

.csc-button.border-radius {
  border-radius: 4px;
}
@media (max-width: 767px) {
  .full-width-mobile {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 !important;
  }

  .full-width-mobile .csc-button-padding {
    padding: 24px 38px;
  }
}

.fixed {
  min-width: 160px;
}



.csc-button {
  background-color: var(--current-color);
  position: relative;
  cursor: pointer;
  box-shadow: none;
  outline: none;
  transition: color 0.5s;
  color: white;
  margin: 0;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  user-select: none;
}

.csc-button svg {
  fill: #FFF;
} 

.csc-button.outlined {
  box-shadow: inset 0px 0px 0px 2px var(--current-color);
}

.csc-button.outlined svg {
  fill: var(--current-color);
}

.outlined:HOVER {
  background-color: rgba(0, 104, 122, 0.1) !important;
}

.spinner__circle {
  animation: 3s ease-in-out infinite both circle-animation;
  display: block;
  fill: transparent;
  stroke: #fff;
  stroke-linecap: round;
  stroke-dasharray: 283;
  stroke-dashoffset: 280;
  stroke-width: 10px;
  transform-origin: 50% 50%;
}

.outlined .spinner__circle {
  stroke: var(--current-color) !important;
}

.outlined svg {
  fill: var(--current-color);
}

.outlined {
  background-color: transparent !important;
  transition: background 0.5s;
  color: var(--current-color);
}

.csc-button-disabled {
  background: #E8E8E8;
  color: #8C8C8C;
  box-shadow: inset 0px 0px 0px 2px #E8E8E8;
  cursor: default !important;
}

.outlined.csc-button-disabled svg {
  fill: #8C8C8C !important;
}

.csc-button-disabled.outlined:HOVER {
  background-color: transparent !important;
}

.csc-button-disabled svg {
  fill: #8C8C8C;
}

.csc-button-padding {
  padding: 14px 30px;
}

.ripple {
  transition: background 0.5s;
  background-position: center;
}

.ripple:hover {
  background: rgba(255,255,255,0.1) radial-gradient(circle, transparent 1%, rgba(255,255,255,0.15) 1%) center/15000%;
}
.ripple:active {
  background-color: rgba(255,255,255,0.25);
  background-size: 100%;
  transition: background 0s;
}

.dense {
  padding: 9px !important;
}

.fit {
  width: 100%;
}

.hide-text {
  color: transparent !important;
}

.hide-text svg, .hide-text .outlined.csc-button svg {
  fill: transparent !important;
}

.spinner_wrapper {
  width: 100%;
  position: absolute;
  height: 100%;
  padding-top: 12px;
}

.spinner_wrapper.dense_spinner {
  padding-top: 8px;
}

.spinner {
  animation: 2s linear infinite svg-animation;
  max-width: 30px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.spinner_wrapper.dense_spinner .spinner{
  max-width: 24px;
}

@keyframes svg-animation {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg)
  }
}

@keyframes circle-animation {
  0%,
  25% {
    stroke-dashoffset: 280;
    transform: rotate(0);
  }
  
  50%,
  75% {
    stroke-dashoffset: 75;
    transform: rotate(45deg);
  }
  
  100% {
    stroke-dashoffset: 280;
    transform: rotate(360deg);
  }
}