@import '../../global/app.css';

:host {
  --c-min-height: 46px;
  --c-border-radius: 6px;
  --c-padding: 12px;

  display: block;
  margin-bottom: 8px;
}

.c-accordion-item {
  &__header {
    min-height: var(--c-min-height);
    user-select: none;
    background: var(--csc-primary-ghost);
    display: grid;
    column-gap: 8px;
    align-items: center;
    padding: 0 var(--c-padding);
    border-radius: var(--c-border-radius);
    cursor: pointer;
    grid-template-columns: auto 1fr auto;
    gap: 8px;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px black solid;
      outline-offset: 2px;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 16px;
    color: #006778;
  }

  &__content {
    padding: 16px;
  }

  &__content-wrapper {
    overflow: hidden;
    transition: height 0.2s ease-out;
    height: auto;
  }

  &__icon {
    height: 24px;
    font-size: 24px;
    color: var(--current-color);
    display: flex;
    align-items: center;

    > * {
      height: 24px;
      display: flex;
      align-items: center;
    }
  }

  &__indicator {
    --c-rotation: rotate(0deg);

    display: flex;
    align-items: center;

    &--expanded {
      --c-rotation: rotate(180deg);
    }

    svg {
      width: 24px;
      height: 24px !important;
      transform: var(--c-rotation);
      transition: transform 0.3s ease-in-out;
    }
  }
}
