<app-example title="Basic usage" subtitle="Using index based values by default">
  <c-content-switcher value="1">
    <c-button>One</c-button>
    <c-button>Two</c-button>
    <c-button>Three</c-button>
  </c-content-switcher>
</app-example>

<app-example title="Basic usage 2" subtitle="Using custom values">
  <c-content-switcher value="three">
    <c-button value="one">One</c-button>
    <c-button value="two">Two</c-button>
    <c-button value="three">Three</c-button>
  </c-content-switcher>
</app-example>

<app-example title="Mandatory selection" subtitle="Selection can not be cleared">
  <c-content-switcher mandatory>
    <c-button>One</c-button>
    <c-button>Two</c-button>
    <c-button>Three</c-button>
  </c-content-switcher>
</app-example>

<app-example title="Disabled">
  <c-content-switcher disabled>
    <c-button>One</c-button>
    <c-button>Two</c-button>
    <c-button>Three</c-button>
  </c-content-switcher>
</app-example>

<app-example title="Small variant">
  <c-content-switcher size="small">
    <c-button>One</c-button>
    <c-button>Two</c-button>
    <c-button>Three</c-button>
  </c-content-switcher>
</app-example>
