:host {
  display: inline-block;
}

.c-tab-button svg {
  margin-right: 16px;
}

.c-tab-button.border-radius {
  border-radius: 4px;
}

.c-tab-button.pink {
  background-color: #e91e63 !important;
}
.pink.c-tab-button-description {
  color: #e91e63 !important;
}

.c-tab-button.blue {
  background-color: #025B96 !important;
}
.blue.c-tab-button-description {
  color: #025B96 !important;
}

.c-tab-button.dark-blue {
  background-color: #012F5F !important;
}
.dark-blue.c-tab-button-description {
  color: #012F5F !important;
}

.c-tab-button.green {
  background-color: #008675 !important;
}
.c-tab-button.green.c-tab-button-description {
  color: #008675 !important;
}

.c-tab-button.purple {
  background-color: #9c27b0 !important;
}
.purple.c-tab-button-description {
  color: #9c27b0 !important;
}

.c-tab-button-wrapper {
  width: 100%;
  max-width: 220px;
}

.c-tab-button {
  background-color: #006778;
  width: 100%;
  margin-bottom: 8px;
  line-height: 38px;
  cursor: pointer;
  border: none;
  outline: none;
  color: white;
  text-decoration: none;
  display: inline-block;
  text-align: left;
  font-size: 24px;
  user-select: none;
}

.c-tab-button-disabled {
  background: #E8E8E8;
  color: #8C8C8C;
  cursor: default !important;
}

.c-tab-button-active {
  background: rgba(0, 0, 0, 0.25);
}

.c-tab-button-padding {
  padding: 34px 16px 34px 32px;
}

.c-tab-button-description {
  font-size: 14px;
  user-select: none;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  color: #006778;
  height: 70px;
  border-bottom: 4px transparent solid;
}

.c-tab-button-description-active {
  border-bottom: 4px #008675 solid;
}

.ripple {
  transition: background 0.5s;
  background-position: center;
}

.ripple:hover {
  background: rgba(255,255,255,0.1) radial-gradient(circle, transparent 1%, rgba(255,255,255,0.15) 1%) center/15000%;
}
.ripple:active {
  background-color: rgba(255,255,255,0.25);
  background-size: 100%;
  transition: background 0s;
}