:host {
  display: block;
  cursor: text;
}

::slotted(input) {
  max-height: 32px;
  padding: 8px 0 8px;
}

::slotted(textarea) {
  margin-top: 4px;
  min-height: 44px;
  padding: 8px 12px 8px 0;
  resize: vertical;
}

::slotted(input),
::slotted(textarea) {
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.87);
  flex: 1 1 auto;
  font-family: $csc-font-family;
  font-size: 16px;
  line-height: 20px;
  max-width: 100%;
  min-width: 0;
  width: 100%;
}

::slotted(input:focus),
::slotted(input:active),
::slotted(textarea:focus),
::slotted(textarea:active) {
  outline: none;
}

::slotted(input::-ms-reveal) {
  display: none;
}

:host([disabled]) {
  ::slotted(input),
  ::slotted(textarea) {
    color: rgba(0, 0, 0, 0.5);
  }
}

.c-input {
  $this: &;

  --c-input-border-width: 1px;

  align-items: flex-start;
  display: flex;
  flex: 1 1 auto;
  font-family: $csc-font-family;
  font-size: 16px;
  letter-spacing: normal;
  max-width: 100%;
  text-align: left;
  border-radius: 4px;

  &__control {
    border-radius: inherit;
    color: currentColor;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: 8px;
    height: auto;
    min-width: 0;
    width: 100%;
  }

  &__slot {
    align-items: stretch;
    background: transparent;
    border-radius: inherit;
    color: inherit;
    cursor: text;
    display: flex;
    min-height: 44px;
    padding: 0 12px;
    position: relative;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    width: 100%;

    .click-trap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(128, 255, 0, 0.295);
    }
  }

  &__field {
    align-items: center;
    display: flex;
    flex: 1 1 auto;
    gap: 8px;
    position: relative;

    label {
      font-size: 16px;
      height: 20px;
      left: 0px;
      letter-spacing: normal;
      line-height: 20px;
      max-width: 90%;
      min-height: 8px;
      overflow: hidden;
      pointer-events: none;
      position: absolute;
      right: auto;
      text-overflow: ellipsis;
      top: 12px;
      transform-origin: top left;
      transform: translateX(var(--c-label-position)) translateY(0) scale(1);
      transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
      white-space: nowrap;

      &.active {
        transform: translateY(-18px) scale(0.75);
      }
    }
  }

  &__details {
    line-height: 1;
    padding: 0 12px;

    &.active {
      #{$this} {
        &__message {
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }
  }

  &__message {
    font-size: 12px;
    min-height: 16px;
    opacity: 0;
    transform: translateY(-4px);
    transition: all 0.2s cubic-bezier(0.25, 0.8, 0.5, 1);

    &--hint {
      color: var(--csc-mid-grey);
    }

    &--error {
      color: var(--csc-error);
    }

    span {
      align-items: flex-start;
      color: currentColor;
      display: flex;
      gap: 4px;
      min-height: 16px;
    }

    svg {
      fill: currentColor;
      min-height: 16px;
      min-width: 16px;
      position: relative;
      top: -2px;
    }
  }

  &--select .c-input__slot {
    cursor: pointer;
  }

  fieldset {
    border-collapse: collapse;
    border-color: currentColor;
    border-radius: inherit;
    border-style: solid;
    border-width: var(--c-input-border-width);
    bottom: 0;
    left: 0;
    margin: 0;
    padding-left: 8px;
    padding: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    transition-duration: 0.15s;
    transition-property: color;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);

    legend {
      line-height: 11px;
      margin-left: 7px;
      padding: 0;
      text-align: left;
      transition: width 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
      width: 0;
    }
  }

  &--shadow {
    #{$this} {
      &__slot {
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

        &:focus-within {
          outline: 2px var(--csc-primary) solid;
        }
      }
    }
  }

  &--disabled {
    input,
    textarea,
    fieldset,
    label {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  &--textarea {
    #{$this} {
      &__field {
        margin-right: -12px;
      }
    }
  }

  ::placeholder {
    color: rgba(0, 0, 0, 0.46);
    opacity: 1;
  }

  &:focus-within {
    --c-input-border-width: 2px;

    color: var(--csc-primary);
  }

  &--error {
    color: var(--csc-error);

    &:focus-within {
      color: var(--csc-error);
    }
  }
}
