@import "../../global/app.css";

:host {
  display: block;
  margin-bottom: 8px;
}

.accordion-header {
  height: 46px;
  user-select: none;
  background: #d8e8ea;
  display: flex;
  justify-content: space-between;
  column-gap: 8px;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 6px;
  cursor: pointer;
}

.accordion-header:focus {
  outline: none;
}

.accordion-header:focus-visible {
  outline: 2px black solid;
  outline-offset: 2px;
}

.accordion-header h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  color: #006778;
}

.accordion-content {
  padding: 16px;
}

.accordion-content-wrapper {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  max-height: 800px;
}

.hidden {
  max-height: 0;
}

.label-flex {
  flex: 1;
}

c-row {
  align-items: center;
}

.icon-wrapper {
  height: 24px;
  font-size: 24px;
  color: var(--current-color);
  display: flex;
  align-items: center;
}

.icon-wrapper > * {
  height: 24px;
  display: flex;
  align-items: center;
}

svg {
  width: 24px;
  height: 24px !important;
}

::slotted(h4) {
  font-size: 22px;
  color: #515151;
  margin-top: 0;
  margin-bottom: 8px;
  line-height: 1;
}
