a {
  display: inline-flex;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;

  & svg {
    margin: 2px 4px 0 0;
  }
}

a.icon-after {
  flex-direction: row-reverse;

  & svg {
    margin: 2px 0 0 4px;
  }
}

a.underline {
  text-decoration: underline;
}


