:host {
  --a: 1;
  --csc-primary: rgba(0, 103, 120, var(--a, 1));
  --csc-primary-hover: rgba(0, 103, 120, 0.1);
  --csc-secondary: rgba(131, 0, 81, var(--a, 1));
  --csc-secondary-hover: rgba(131, 0, 81, 0.1);
  --csc-tertiary: rgba(94, 106, 113, var(--a, 1));
  --csc-tertiary-hover: rgba(94, 106, 113, 0.1);
  --csc-blue: rgba(2, 91, 150, var(--a, 1));
  --csc-blue-hover: rgba(2, 91, 150, 0.1);
  --csc-dark-blue: rgba(0, 47, 95, var(--a, 1));
  --csc-dark-blue-hover: rgba(0, 47, 95, 0.1);
  --csc-grey-blue: rgba(129, 150, 185, var(--a, 1));
  --csc-grey-blue-hover: rgba(129, 150, 185, 0.1);
  --csc-light-grey-blue: rgba(248, 249, 252, var(--a, 1));
  --csc-light-grey-blue-hover: rgba(248, 249, 252, 0.1);
  --csc-light-blue: rgba(208, 220, 237, var(--a, 1));
  --csc-light-blue-hover: rgba(208, 220, 237, 0.1);
  --csc-red: rgba(185, 7, 41, var(--a, 1));
  --csc-red-hover: rgba(185, 7, 41, 0.1);
  --csc-yellow: rgba(255, 213, 52, var(--a, 1));
  --csc-yellow-hover: rgba(255, 213, 52, 0.1);
  --csc-alt-green: rgba(0, 134, 117, var(--a, 1));
  --csc-alt-green-hover: rgba(0, 134, 117, 0.1);
  --csc-light-green: rgba(201, 226, 174, var(--a, 1));
  --csc-light-green-hover: rgba(201, 226, 174, 0.1);
  --csc-light-green-blue: rgba(204, 244, 240, var(--a, 1));
  --csc-light-green-blue-hover: rgba(204, 244, 240, 0.1);
  --csc-grey: rgba(89, 89, 89, var(--a, 1));
  --csc-grey-hover: rgba(89, 89, 89, 0.1);
  --csc-light-grey: rgba(210, 211, 213, var(--a, 1));
  --csc-light-grey-hover: rgba(210, 211, 213, 0.1);
  --csc-white: rgba(255, 255, 255, var(--a, 1));
  --csc-white-hover: rgba(255, 255, 255, 0.1);
  --csc-black: rgba(0, 0, 0, var(--a, 1));
  --csc-black-hover: rgba(0, 0, 0, 0.1);

  --current-color: var(--csc-primary);
  --current-hover-color: var(--csc-primary-hover);
}
:host(.alpha-90) {
  --a: 0.9;
}

:host(.alpha-80) {
  --a: 0.8;
}

:host(.alpha-70) {
  --a: 0.7;
}

:host(.alpha-60) {
  --a: 0.6;
}

:host(.alpha-50) {
  --a: 0.5;
}

:host(.alpha-40) {
  --a: 0.4;
}

:host(.alpha-30) {
  --a: 0.3;
}

:host(.alpha-20) {
  --a: 0.2;
}

:host(.alpha-10) {
  --a: 0.1;
}

.csc-bg-color.white, :host(.csc-bg-color.white) {
  --current-color: var(--csc-white);
  --current-hover-color: var(--csc-white-hover);
}

.csc-bg-color.black, :host(.csc-bg-color.black) {
  --current-color: var(--csc-black);
  --current-hover-color: var(--csc-black-hover);
}

.csc-bg-color.primary, :host(.csc-bg-color.primary) {
  --current-color: var(--csc-primary);
  --current-hover-color: var(--csc-primary-hover);
}

.csc-bg-color.secondary, :host(.csc-bg-color.secondary) {
  --current-color: var(--csc-secondary);
  --current-hover-color: var(--csc-secondary-hover);
}

.csc-bg-color.purple, :host(.csc-bg-color.purple) {
  --current-color: var(--csc-secondary);
  --current-hover-color: var(--csc-secondary-hover);
}

.csc-bg-color.tertiary, :host(.csc-bg-color.tertiary) {
  --current-color: var(--csc-tertiary);
  --current-hover-color: var(--csc-tertiary-hover);
}

.csc-bg-color.blue, :host(.csc-bg-color.blue) {
  --current-color: var(--csc-blue);
  --current-hover-color: var(--csc-blue-hover);
}

.csc-bg-color.dark-blue, :host(.csc-bg-color.dark-blue) {
  --current-color: var(--csc-dark-blue);
  --current-hover-color: var(--csc-dark-blue-hover);
}

.csc-bg-color.grey-blue, :host(.csc-bg-color.grey-blue) {
  --current-color: var(--csc-grey-blue);
  --current-hover-color: var(--csc-grey-blue-hover);
}

.csc-bg-color.light-grey-blue, :host(.csc-bg-color.light-grey-blue) {
  --current-color: var(--csc-light-grey-blue);
  --current-hover-color: var(--csc-light-grey-blue-hover);
}

.csc-bg-color.red, :host(.csc-bg-color.red) {
  --current-color: var(--csc-red);
  --current-hover-color: var(--csc-red-hover);
}

.csc-bg-color.yellow, :host(.csc-bg-color.yellow) {
  --current-color: var(--csc-yellow);
  --current-hover-color: var(--csc-yellow-hover);
}

.csc-bg-color.green, :host(.csc-bg-color.green) {
  --current-color: var(--csc-primary);
  --current-hover-color: var(--csc-primary-hover);
}

.csc-bg-color.alt-green, :host(.csc-bg-color.alt-green) {
  --current-color: var(--csc-alt-green);
  --current-hover-color: var(--csc-alt-green-hover);
}

.csc-bg-color.light-green, :host(.csc-bg-color.light-green) {
  --current-color: var(--csc-light-green);
  --current-hover-color: var(--csc-light-green-hover);
}

.csc-bg-color.light-green-blue, :host(.csc-bg-color.light-green-blue) {
  --current-color: var(--csc-light-green-blue);
  --current-hover-color: var(--csc-light-green-blue-hover);
}

.csc-bg-color.grey, :host(.csc-bg-color.grey) {
  --current-color: var(--csc-grey);
  --current-hover-color: var(--csc-grey-hover);
}

.csc-bg-color.light-grey, :host(.csc-bg-color.light-grey) {
  --current-color: var(--csc-light-grey);
  --current-hover-color: var(--csc-light-grey-hover);
}