<app-example title="Default button" flex>
  <c-button>Default</c-button>
  <c-button loading>Default</c-button>
  <c-button disabled>Default</c-button>
</app-example>

<app-example title="Outlined variant" flex>
  <c-button outlined>Outlined</c-button>
  <c-button outlined loading>Outlined</c-button>
  <c-button outlined disabled>Outlined</c-button>
</app-example>

<app-example title="No radius" flex>
  <c-button no-radius>No radius</c-button>
  <c-button no-radius loading>No radius</c-button>
  <c-button no-radius disabled>No radius</c-button>
</app-example>

<app-example title="Fitted">
  <c-button fit>Fitted</c-button>
  <c-button fit loading>Fitted</c-button>
</app-example>

<app-example title="With icon" flex>
  <c-button>
    <i class="mdi mdi-login" slot="icon"></i>
    Login
  </c-button>
  <c-button loading>
    <i class="mdi mdi-login" slot="icon"></i>
    Login
  </c-button>
  <c-button disabled>
    <i class="mdi mdi-login" slot="icon"></i>
    Login
  </c-button>
</app-example>

<app-example title="Button sizes" class="align-bottom" flex>
  <c-button size="small">Small</c-button>
  <c-button size="small" loading>Small</c-button>
  <c-button>Default</c-button>
  <c-button size="large">Large</c-button>
  <c-button size="large" loading>Large</c-button>
</app-example>
