:host {
  display: block;
}

.c-select-wrapper {
  background: #EEF2F8;
  align-items: stretch;
  min-height: 44px;
  margin-top: 4px;
  display: flex;
  flex: 1 1 auto;
  border: 2px transparent solid;
  cursor: pointer;
}

.c-select-wrapper:focus-within {
  border: 2px #006778 solid;
  outline: none;
}

.c-select-wrapper-active {
  background: #D0DCED;
}

.c-select-current {
  margin-top: 3px;
  outline: none;
  font-size: 14px;
  display: inline-block;
  background-color: transparent;
  border-style: none;
  flex: 1 1 auto;
  line-height: 20px;
  padding: 8px 18px;
  user-select: none;
}

.c-select-dense .c-select-current {
  margin-top: 0;
}

.c-select-icon {
  line-height: 20px;
  padding: 8px 24px;
  margin-top: 3px;
  transition: all 0.25s;
}

.c-select-dense {
  min-height: 36px;
}

.c-select-dense .c-select-icon {
  padding: 4px 24px;
}

span.dense-label {
  font-size: 12px;
}

label span.required {
  color: #E71D32;
}

.rotated {
  transform: rotate(180deg);
}

.c-menu-parent {
  position: relative;
  width: 100%;
}

.c-menu {
  position: absolute;
  background-color: #ffffff;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.c-menu li {
  display:block;
  padding: 14px;
  transition: background-color 0.5s;
  font-size: 14px;
}
.c-menu li.dense {
  padding: 10px 14px;
}
.c-menu li:HOVER {
  background-color: #EEF2F8;
}

.c-menu li.active {
  background-color: #006778;
  color: #fff;
}
