@import "../../global/app.css"; 

:host {
  display: block;
}

.c-selections {
  outline: none;
}

.c-selections:focus .c-select-wrapper {
  border: 2px #006778 solid;
}

.c-select-wrapper {
  background: #EEF2F8;
  align-items: stretch;
  min-height: 44px;
  display: flex;
  flex: 1 1 auto;
  border: 2px transparent solid;
  cursor: pointer;
}

.c-select-wrapper:focus-within {
  border: 2px #006778 solid;
  outline: none;
}

.c-select-wrapper-active {
  background: #D0DCED;
}

.c-select-wrapper.required-border {
  border-bottom: 2px #E71D32 solid;
}

.c-select-current {
  margin-top: 5px;
  outline: none;
  font-size: 16px;
  color: #000;
  display: inline-block;
  background-color: transparent;
  border-style: none;
  flex: 1 1 auto;
  line-height: 21px;
  padding: 8px 0px 10px 18px;
  user-select: none;
}

.c-select-dense .c-select-current {
  line-height: 16px;
}

.c-select-row {
  display: flex;
  flex: 1 1 auto;
  margin-right: -12px;
  margin-left: -4px;
}

.c-select-dense .c-select-current {
  margin-top: 0;
}

.c-select-current span {
  color: #777;
}

.c-select-icon {
  line-height: 20px;
  padding: 8px 24px;
  margin-top: 3px;
  transition: all 0.25s;
}

.c-select-dense {
  min-height: 34px;
}

.c-select-dense .c-select-icon {
  padding: 4px 24px;
}

label {
  margin-bottom: 4px;
}

span.dense-label {
  font-size: 12px;
}

label span.required {
  color: #E71D32;
}

.rotated {
  transform: rotate(180deg);
}

.c-menu-parent {
  position: absolute;
  width: 100%;
  margin-top: 44px;
  z-index: 10;
}

.c-menu {
  position: absolute;
  background-color: #ffffff;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
  cursor: pointer;
  user-select: none;
  border-radius: 4px;
  overflow: hidden;
}

.c-menu li {
  display:block;
  padding: 14px;
  transition: background-color 0.3s;
  font-size: 14px;
}
.c-menu li.dense {
  padding: 10px 14px;
}
.c-menu li:HOVER {
  background-color: #eee;
}

.c-menu li.active {
  background-color: #eee;
}

.c-menu li.none {
  color: rgba(0,0,0,0.5);
}


.outer-wrapper {
  width: 100%;
  position: relative;
  display:flex;
  outline: none;
}

.outer-wrapper.disabled input, .outer-wrapper.disabled label {
  color: #93979D;
}

.border-left {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px #aaa solid;
  border-right: none;
  width: 12px;
}

.border-label {
  border-top: 1px #aaa solid;
  border-bottom: 1px #aaa solid;
}

.outer-wrapper:focus-within .border-label {
  border-top: 2px transparent solid !important;
  padding-top: 0px;
  padding-bottom: 0px;
}
.border-label.value-set {
  border-top: 1px transparent solid !important;
  padding-top: 1px;
  padding-bottom: 1px;
}

.outer-wrapper:focus-within label.top-span {
  color: var(--current-color);
}

.outer-wrapper:focus-within label {
  padding-left:3px;
  transform: scale(0.75);
  max-width: 125%;
  transform-origin: left;
  padding-right:3px;
}

.border-label label.top-span {
  transition: margin 0.1s ease, transform 0.1s ease;
}

.outer-wrapper label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.outer-wrapper.required div, .outer-wrapper.required:focus-within div {
  border-color: #E71D32;
  border-width: 2px !important;
  /* margin-top: -1px; */
}

.outer-wrapper.required label, .outer-wrapper.required:focus-within label {
  color: #E71D32;
}

.validation-message {
  display: flex;
  height:0;
  align-items: center;
  font-size: 12px;
  margin-top: 1px;
  transform: scale(0);
  transform-origin: top left;
  transition: transform 0.2s ease, margin 0.2s ease;
}

.border-wrapper {
  position:absolute;
  width:100%;
  height:100%;
  display:flex;
}

.validation-message svg {
  margin-right: 4px;
}

.validation-message.show {
  height: unset;
  transform: scale(1);
  margin-top: 7px;
}

label.hidden {
  opacity: 0;
  white-space: nowrap;
  padding-left:3px;
  padding-right:3px;
  max-width: calc(100% / .75);
  font-size: .75rem;
}

.top-span {
  position:absolute;
  margin-top: 8px;
  margin-left: 5px;
  font-size: 16px;
  color: rgba(0,0,0,0.75);
}

.border-label.value-set label {
  padding-left:3px;
  padding-right:3px;
}

.border-label.value-set .top-span {
  margin-top: -12px;
  transform: scale(0.75);
  transform-origin: left;
  max-width: 125%;
  margin-left: 0 !important;
}

.outer-wrapper:focus-within label.top-span {
  margin-top: -12px;
  padding-left: 2px !important;
  padding-top: 0px !important;
  margin-left: 0 !important;
}
.outer-wrapper.required:focus-within label.top-span {
  /* padding-left: 3px !important; */
}

.outer-wrapper:focus-within div {
  border-color: var(--current-color);
  border-width: 2px;
  /* margin-top:-1px; */
}


.border-right {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px #aaa solid;
  border-left: none;
  width: 100%;
}

.full-width {
  width: 100%;
  position: relative;
  z-index: 2;
  cursor: pointer;
  outline: none;
}

.select-wrapper {
  width: 100%;
  position: relative;
  z-index: 1;
  height: 100%;
  outline: none;
}