<app-example title="Default" flex>
  <c-icon-button>
    <i class="mdi mdi-star"></i>
  </c-icon-button>

  <c-icon-button disabled>
    <i class="mdi mdi-star"></i>
  </c-icon-button>
</app-example>

<app-example title="Ghost" flex>
  <c-icon-button ghost>
    <i class="mdi mdi-star"></i>
  </c-icon-button>

  <c-icon-button ghost disabled>
    <i class="mdi mdi-star"></i>
  </c-icon-button>
</app-example>

<app-example title="Text" flex>
  <c-icon-button text>
    <i class="mdi mdi-star"></i>
  </c-icon-button>

  <c-icon-button text disabled>
    <i class="mdi mdi-star"></i>
  </c-icon-button>
</app-example>

<app-example title="Outlined" flex>
  <c-icon-button outlined>
    <i class="mdi mdi-star"></i>
  </c-icon-button>

  <c-icon-button outlined disabled>
    <i class="mdi mdi-star"></i>
  </c-icon-button>
</app-example>
