@import "../../global/app.css";

button {
  display: inline-block;
  border: none;
  padding: 0;
  background: transparent;
}

button:focus {
  outline: none;
}

button:focus-visible {
  /* Some even *more* exciting button focus styles */
  outline: 2px black solid;
  outline-offset: 2px;
}

::slotted(*) {
  color: rgb(255, 255, 255);
  fill: rgb(255, 255, 255);
}

button.ghost ::slotted(*),
button.text ::slotted(*),
button.outlined ::slotted(*) {
  color: var(--current-color);
  fill: var(--current-color);
}

button.disabled ::slotted(*) {
  color: var(--csc-mid-grey);
  fill: var(--csc-mid-grey);
}

button {
  width: 40px;
  height: 40px;
  background: var(--csc-primary);
  transition: background-color 0.3s ease;
  border-radius: 50%;
  margin: 4px;
  cursor: pointer;
  position: relative;
}

button.text {
  background: transparent;
}

button.ghost {
  background: var(--csc-primary-ghost);
}

button.outlined {
  background: transparent;
  box-shadow: inset 0px 0px 0px 2px var(--current-color);
}

button.disabled {
  background: var(--csc-light-grey);
  pointer-events: none;
}

button.disabled.text {
  background: transparent;
}

button.disabled.ghost {
  background: var(--csc-lightest-grey);
}

button.outlined.disabled {
  background: transparent;
  box-shadow: inset 0px 0px 0px 2px #acacac;
}

.icon-button-badge {
  background: #ff5800;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 16px;
  height: 16px;
  color: #fff;
  position: absolute;
  right: -6px;
  font-size: 12px;
  border: 2px #fff solid;
  top: -4px;
}

.disabled .icon-button-badge {
  background: #acacac;
}

button:hover {
  background: var(--csc-primary-hover);
}

button.outlined:hover,
button.ghost:hover,
button.text:hover {
  background: var(--csc-primary-text-hover);
}

button.ghost:hover {
  background: var(--csc-primary-ghost-hover);
}

button.disabled:hover {
  background: transparent;
}

svg {
  width: 24px;
  height: 24px;
}

.inner-container {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ripple {
  transition: background 0.5s;
  background-position: center;
  position: absolute;
  border-radius: 50%;
}

.ripple:hover {
  background: rgba(255, 255, 255, 0)
    radial-gradient(circle, transparent 1%, rgba(255, 255, 255, 0.15) 1%)
    center/15000%;
}

.ripple:active {
  background-color: rgba(255, 255, 255, 0.25);
  background-size: 100%;
  transition: background 0s;
}

.outlined .ripple:hover,
.text .ripple:hover,
.ghost .ripple:hover {
  background: rgba(0, 103, 120, 0)
    radial-gradient(circle, transparent 1%, rgba(0, 103, 120, 0.05) 1%)
    center/15000%;
}

.outlined .ripple:active,
.text .ripple:active,
.ghost .ripple:active {
  background-color: rgba(0, 103, 120, 0.15);
  background-size: 100%;
  transition: background 0s;
}
