:host {
  display: block;
  cursor: pointer;
  user-select: none;
  min-width: 100px;
}

:host(.fit) {
  flex-grow: 1;
}

:host(:focus) {
  outline: none;
}
:host(:focus-visible) { /* Some even *more* exciting button focus styles */ 
  outline: 1px black solid;
}

.c-tag {
  transition: all 0.5s ease;
  display: block;
  height: 44px;
  border-radius: 32px;
  padding-left: 28px;
  padding-right: 28px;
  line-height: 44px;
  background: #006778;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.c-tag:HOVER {
  background: #50978D;
}