:host {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  margin: 2px;
}

:host(.fit) {
  display: block;
  flex-grow: 1;
}

:host(:focus) {
  outline: none;
}

:host(:focus-visible) {
  outline: 1px black solid;
}

svg {
  width: 14px;
  height: 14px;
  margin-right: -6px;
}

.row {
  display: flex;
  align-items: center;
  column-gap: 6px;
}

.c-tag {
  transition: all 0.2s ease;
  display: block;
  height: 30px;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 30px;
  background: transparent;
  color: var(--csc-primary);
  box-shadow: inset 0px 0px 0px 1.3px var(--csc-primary);
  font-weight: 400;
  font-size: 14px;
  text-align: center;

  &:hover {
    background: #d8e8ea;
    color: var(--csc-primary);
    box-shadow: inset 0px 0px 0px 1px var(--csc-primary);
  }

  &.active {
    background: var(--csc-primary);
    color: #fff;

    &:hover {
      background: #50978d;
      color: #fff;
      box-shadow: none;
    }
  }
}
