<c-main>
  <c-toolbar>
    <c-csc-logo></c-csc-logo>
    CSC Design System
    <c-spacer></c-spacer>
    <c-navigationbutton></c-navigationbutton>
  </c-toolbar>

  <c-row class="no-margin no-wrap">
    <c-sidenavigation class="autoheight" *ngIf="components.length">
      <c-sidenavigationitem
        *ngFor="let item of components"
        [routerLink]="['/' + item.tag]"
        routerLinkActive="active"
        [active]="selectedComponent === item"
        (click)="selectedComponent = item"
      >
        <div slot="main">{{ item.tag }}</div>
        <div slot="subnavitem">
          <c-subnavigationitem
            *ngFor="let child of item.children"
            (click)="showElement(child.tag)"
            >{{ child.tag }}</c-subnavigationitem
          >
        </div>
      </c-sidenavigationitem>
    </c-sidenavigation>

    <c-flex class="container-height">
      <c-container>
        <router-outlet></router-outlet>
      </c-container>
    </c-flex>
  </c-row>
</c-main>
