:host {
  display: flex;
  height: 42px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  column-gap: 12px;
  font-size: 14px;
  background: #fff;
  cursor: pointer;
}

:host * {
  white-space: nowrap;
}

:host(:hover) {
  background: #d8e8ea;
  color: var(--csc-primary);
}

:host(.active) {
  background: #d8e8ea;
}

:host(.small) {
  font-size: 12px;
  padding-left: 8px;
  padding-right: 8px;
}
