:host {
  display: block;
  flex-grow: 1;
  cursor: pointer;
  user-select: none;
}

.c-tab {
  transition: all 0.5s ease;
  display: block;
  height: 50px;
  line-height: 50px;
  color: #8196B9;
  text-align: center;
  border-bottom: 2px transparent solid;
}

.c-tab:HOVER {
  background: rgba(0, 80, 200, 0.03);
}

.c-tab.active {
  color: #002F5F;
  border-bottom: 2px #002F5F solid;
}

.c-tab.active:HOVER {
  background: transparent !important;
}