:host {
  border-radius: 4px;
  color: #595959;
  display: block;
  font-size: 14px;
  position: relative;
  user-select: none;
}

@supports selector(:focus-within) {
  :host(:focus) {
    outline: none;
  }
}

:host(:focus-within) {
  background: #d8e8ea;
  outline: 2px var(--csc-primary) solid;
  outline-offset: 2px;
}

:host(.simple-host) {
  background: transparent !important;
}

:host(.c-menu) {
  button {
    border-radius: 4px;
    color: #595959;
    cursor: pointer;
    display: block;
    font-family: $csc-font-family;
    font-size: 14px;
    position: relative;
    user-select: none;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
  }

  svg {
    box-sizing: content-box;
  }

  svg fill {
    fill: #595959;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    pointer-events: none;
    transition: 0.15s cubic-bezier(0.25, 0.8, 0.5, 1);
    transform: translateY(-8px);

    &.active {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0);
    }
  }

  li {
    align-items: center;
    background: #fff;
    column-gap: 12px;
    cursor: pointer;
    display: flex;
    flex-wrap: nowrap;
    font-size: 14px;
    height: 42px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    white-space: nowrap;

    &.small {
      font-size: 12px;
      padding-left: 8px;
      padding-right: 8px;
    }

    &:not(.disabled):hover,
    &.active {
      background: #d8e8ea;
      color: var(--csc-primary);
    }
    &.icon-start {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
    &.icon-end {
      justify-content: space-between;
    }
    &.disabled {
      cursor: default;
      opacity: .4;
    }
  }

  .c-select-row {
    display: flex;
    flex: 1 1 auto;
    margin-left: 0;
    align-items: center;
  }

  .c-select-icon {
    line-height: 20px;
    padding: 8px 10px;
    transition: all 0.25s;
  }

  .rotated {
    transform: rotate(180deg);
  }

  ::slotted(*[slot='activator']) {
    display: flex;
    column-gap: 8px;
  }

  .small ::slotted(*[slot='activator']) {
    font-size: 12px;
    column-gap: 0px;
  }

  .c-menu-wrapper {
    width: 100%;
    position: relative;
    padding-left: 14px;
    z-index: 2;
    outline: none;
  }

  .c-menu-wrapper:hover {
    background: #d8e8ea;
    color: var(--csc-primary);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .c-menu-list {
    position: absolute;
    min-width: 100%;
    right: 0;
    z-index: 3;
    background: #fff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: hidden;
    box-shadow: 2px 4px 10px #00000029;
  }
}

:host(.active) svg,
:host(:hover) svg {
  fill: var(--csc-primary);
}

:host(.nohover) {
  .c-menu-wrapper {
    &:hover {
      background: transparent;
    }
  }
}
