@import "../../global/app.css"; 

:host {
  display: block;
}

.fixed {
  min-width: 220px;
}

.fit {
  width: 100% !important;
}

.c-toggle:not(.active):HOVER {
  background-color: var(--current-hover-color);
}

.c-toggle {
  border-color: var(--current-color);
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
  color: var(--current-color);
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-size: 16px;
  user-select: none;
  transition: background 0.5s;
}

.c-toggle-subtitle {
  font-size: 12px;
}

.c-toggle-description {
  font-size: 12px;
}

.active {
  color: #ffffff !important;
  background-color: var(--current-color) !important;
  border-color: var(--current-color) !important;
}

.c-toggle-disabled {
  background: #E8E8E8;
  color: #8C8C8C;
  cursor: default !important;
}

.c-toggle-padding {
  padding: 12px 0;
}
