.modal-wrapper {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.c-modal {
  max-width: 600px;
  display: block;
  position: fixed;
  z-index: 200000;
  animation-name: zoom;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}

.c-modal.fullscreen {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.c-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 1998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.5);
  }
}

.c-fadeIn {
  z-index: 1997;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

@keyframes zoom {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
