:host {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.c-radio-group {
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__items {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
}

.c-radio {
  --c-radio-color: var(--csc-primary);

  align-items: flex-start;
  display: flex;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  gap: 4px;
  line-height: 1.2;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .ripple .selection {
      &::after {
        display: block;
        transform: scale(1);
      }
    }
  }

  .ripple {
    position: relative;
    height: 42px;
    width: 42px;
    min-width: 42px;
    border-radius: 50%;
    overflow: hidden;
    transition: translateZ(0);
    color: var(--csc-primary);
  }

  .selection {
    position: absolute;
    top: 11px;
    left: 11px;
    height: 20px;
    width: 20px;
    background-color: transparent;
    box-shadow: inset 0 0 0 2px var(--c-radio-color);
    border-radius: 50%;
    transition: box-shadow 0.15s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      transform: scale(0);
      transition: transform 0.15s ease-in-out;
      top: 5px;
      left: 5px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: var(--c-radio-color);
    }
  }

  &__label {
    padding-top: 12px;
  }

  &--disabled {
    --c-radio-color: var(--csc-mid-grey);

    color: var(--c-radio-color);
    cursor: default;
    opacity: 0.75;
  }

  &:focus {
    outline: none;
  }

  &:focus .ripple {
    outline: 2px var(--c-radio-color) solid;
  }

  @supports selector(:focus-visible) {
    &:focus .ripple {
      outline: none;
    }
  }

  &:focus-visible .ripple {
    outline: 2px var(--c-radio-color) solid;
  }

  &:not(.c-radio--disabled) {
    .ripple:hover {
      background-color: var(--csc-primary-text-hover);
    }
  }
}
