<app-example title="Basic usage in Angular" [raw]="template">
  <c-checkbox cControl [(ngModel)]="value" label="Example checkbox"></c-checkbox>
  <p class="mt-2 mb-4 text-primary">Checkbox is {{ value ? 'checked' : 'not checked' }}</p>
</app-example>

<app-example title="Disabled state" [raw]="template">
  <c-checkbox cControl [(ngModel)]="value" label="Example checkbox" disabled></c-checkbox>
  <p class="mt-2 mb-4 text-primary">Checkbox is {{ value ? 'checked' : 'not checked' }}</p>
</app-example>
