:host {
  display: block;
}

.text-field-wrapper {
  background: #EEF2F8;
  align-items: stretch;
  min-height: 44px;
  margin-top: 4px;
  display: flex;
  flex: 1 1 auto;
  border: 2px transparent solid;
}



.text-field-dense {
  min-height: 36px;
}

label.dense-label {
  font-size: 12px;
}

label span.required {
  color: #E71D32;
}

.text-field-wrapper.required-border {
  border-bottom: 2px #E71D32 solid;
}

.text-field-wrapper:focus-within {
  border: 2px #006778 solid;
}

.text-field-wrapper input, .text-field-wrapper textarea {
  outline: none;
  font-size: 14px;
  background-color: transparent;
  border-style: none;
  flex: 1 1 auto;
  line-height: 20px;
  padding: 8px 8px;
  max-width: 100%;
  min-width: 0;
  width: 100%;
}

.text-field-wrapper.text-field-disabled input, .text-field-wrapper.text-field-disabled textarea, .label-disabled {
  color: #93979D;
}
